/* ---------- Mobile first ---------- */
.about-page {
    text-align: center;
    margin: 20px 0 60px;
    padding: 0 10%;
    
    background: radial-gradient(circle, hsla(338, 50%, 31%, 1) 0%, hsla(40, 4%, 15%, 1) 65%);
}


/* ----------------- Responsive styling ----------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

@media only screen and (min-width: 768px) {

    .about-page {
        padding: 0 200px;
        /* font-size: 22px; */
        line-height: 3rem;


    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */