.footer {
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: var(--secondary_dark);
    bottom: 0;
    width: 100%;
    color: var(--white);
    align-items: center;
    padding-top: 15px;
    box-shadow: 0px 1px 8px 1px RGB(128, 127, 121, 0.2);
}


.socials {
    margin: 22px 0 11px;
}

.socials img {
    height: 35px;
    padding: 5px 15px;
}

.socials a {
    padding: 0;
}