body {
    background-color: var(--secondary_dark);
}

.background-image {
    display: flex;
    height: 250px;
    background-image: url("src/assets/images/brand_hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}

.background-image h1 {
    margin-top: 0;
    font-weight: 300;
    line-height: 2rem;
}

.picture-1 {
    width: 100%;
}