/* * {
    border: 1px solid red;
} */

.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary_dark);
    padding: 10px;
    box-shadow: 0px 1px 8px 1px RGB(128, 127, 121, 0.2) inset;
    /* border: 1px solid red; */
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 10px;
    height: 80%;
    /* border: 1px solid red; */
}

.horizontal-nav {
    display: none;
}

.dropdown-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary_dark);
    height: 0;
    width: 50%;
    /* transition: 2s; */

    /* border: 1px solid red; */
}

.menu-icon {
    display: block;
    align-self: right;
}


/* ----------------- Responsive styling ----------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

@media only screen and (min-width: 768px) {
    /* For horizontal tablets and desktop: */

    .header {
        color: var(--secondary_light);
        font-family: var(--primary_font);
        font-weight: 400;
        font-size: 18px;
        justify-content: center;
    }

    .horizontal-nav {
        display: flex;
    }

    .menu-btn {
        display: none;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */