/* --------- global variables ------------ */
:root {
    --primary_dark: #752743;
    --primary_bright: #B84A78;
    --primary_light: #D9AAC5;
    /* RGB 	217	170	197  */
    --secondary_dark: #292826;
    /* RGB 41, 40, 38 */
    --secondary_light: #807F79;
    /* RGB 128,127,121 */
    --white: #ffffff;
    --primary_font: "Quicksand", serif;

}


/* --------- style reset ------------ */
html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--primary_font);
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#root {
    min-height: 100vh;
}

#page {
    min-height: 100vh;
}

h1 {
    font-size: 20px;
}

button {
    background-color: transparent;
    border: none;
}

/* --------- global styling ---------- */
.btn {
    background-color: var(--primary_bright);
    margin: 15px;
    padding: 20px 50px;
    border-radius: 35px;
    font-weight: 600;
    color: var(--white);
    text-transform: lowercase;
    border: 1px solid var(--primary_dark);
    box-shadow: 0px 1px 8px 2px RGB(217, 170, 197, 0.3);
}

.btn:active,
a:active {
    /* margin-bottom: 5px; */
    transform: translateY(5px);
    color: var(--primary_light);
}

a {
    padding: 20px;
    text-decoration: none;
    color: var(--white);
}

/* a:active {
    color: var(--primary_light);
} */

/* ---------- Mobile first ---------- */





/* ----------------- Responsive styling ----------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

@media only screen and (min-width: 768px) {
    body {
        font-size: 22px;
        line-height: 3rem;
    }

    h1 {
        font-size: 24px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */